@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
body{
	background-color: #f3f3f3;
	background: #FFEFBA;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #FFFFFF, #F0E7C5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #FFFFFF, #F0E7C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.event{
	color: #000;
	border-radius: 10px;
	text-align: center;
	font-family: 'Open Sans Condensed';
	transition: all 0.2s ease-out;
}

.event:hover{
	transform: scale(1.05);
}

.event:active{
	transform: scale(0.9);
}

.weekCalender{
	font-family: 'Open Sans Condensed';
}
/*background*/
.weekCalendar__headerColumn{
	background-color: #f44e3b;
	opacity: 0.7;
}
.weekCalendar__headerColumn:nth-child(2){
	background-color: #FE9200;
}
.weekCalendar__headerColumn:nth-child(3){
	background-color: #FCDC00;
}
.weekCalendar__headerColumn:nth-child(4){
	background-color: #a4dd00;
}
.weekCalendar__headerColumn:nth-child(5){
	background-color: #73d8ff;
}
.weekCalendar__headerColumn:nth-child(6){
	background-color: #aea1ff;
}
.weekCalendar__headerColumn:nth-child(7){
	background-color: #fda1ff;
}
.weekCalendar__headerColumn:hover{
	color:white;
	background-color: white;
	transition: 0.3s;
}
.weekCalendar__headerColumn:hover:nth-child(2){
	color:#f44e3b;
}
.weekCalendar__headerColumn:hover:nth-child(3){
	color:#fe9200;
}

.dayCell{
	background-color: #FFFBEA;
}
.weekCalendar__scaleCell{
	font-family: 'Open Sans Condensed';
}
.weekCalendar__scaleHeader{
	font-family: 'Open Sans Condensed';
}

/*word*/
.headercell{
	font-family: 'Open Sans Condensed';
	color: #111;
	font-size: 1.2rem;
}

.headercell:hover{
	transition: 0.3s;
	color: #f44e3b;
	font-size: 1.24rem;
	text-decoration: none;
}
/*.headercell:nth-child(2) .headercell:hover{
	color: #FCDC00;
}
.headercell:hover:nth-child(3){
	color: #FCDC00;
}
.headercell:hover:nth-child(4){
	color: #a4dd00;
}
.headercell:hover:nth-child(5){
	color: #73d8ff;
}
.headercell:hover:nth-child(6){
	color: #aea1ff;
}
.headercell:hover:nth-child(7){
	color: #fda1ff;
}*/

.loginform {
	width: 200px;
	height: 100px;
	margin: -90px 0 0 -100px;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 50%;
	left: 50%;
}
.botton{
	width: 5rem;
	border: transparent;
	background-color: #68ccca;
	font-family: 'Open Sans Condensed';
}
.botton:hover{
  color: rgba(255, 255, 255, 1);
  background-color: #68ccca;
  box-shadow: 0 5px 15px #23dffd70;
}

.botton2{
  font-size: 1.2rem;
  color: black;
  background: none;
  border: 2px solid black;
  border-radius: 4px;
  padding: 0.25rem 1rem;
  margin: 0.5rem 0;
  font-family: 'Open Sans Condensed';
  transition: all 0.2s ease-out;
}
.botton2:hover {
  color: white;
  border: 2px dashed white;
  box-shadow: 0 0 0 4px black;
  background: black;
}
.botton2:active {
	border: 2px dashed white;
  box-shadow: 0 0 0 4px black;
  transform: scale(1.1);
  background-color: black
}

/*test header*/

.title{
text-transform: uppercase;
font-family: 'Oswald', cursive;;
text-align: center;
}

.title2{
	font-size: 60px;
	font-family: 'Oswald';
}

@keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}

